Hi <b><%= @employee.name %></b>,
<br />
<br />
You are requested to mark your attendance immediately. It's urgent, so please make sure to mark as soon as possible.
<br />
<hr />
You can use this link <a href="http://<%= ActionMailer::Base.default_url_options[:host] %>/sign_in/">http://<%= ActionMailer::Base.default_url_options[:host] %>/sign_in/</a> to login to website
<hr />
<br />
Thank you,
<%= @sender.name %>
