<div style="margin-left: 50px;">
  <div class="row">
    <h5>
      <%= @admin.name  %><br />
      <%= @admin.email  %><br />
      <%= @admin.departmentname %><br />
    </h5>
  </div>



</div>

<%= render :partial => 'notify_employee.html.erb' %>