
<table>
  <thead>
    <tr>
      <th>Employee_Name</th>
      <th>Total_Attendance</th>
      <th>Contact Number</th>
    </tr>
  </thead>
  <%@employees.each do |employee|%>
  <tbody>
    <tr>
      <td>@employee.name</td>
      <td>@employee.attendances</td>
      <td>@employee.location</td>
    </tr>
  </tbody>
      <% end %>
</table>
