<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DashBoard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Profile</a></li>
        <li><a href="badges.html">Attendance</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
</nav>
<style media="screen">

</style>
