<div class="container">
  <h4>Current user: <%= @employee.name %></h4>
    <hr />
        <% @attendances = @employee.todays_attendance current_employee.id %>
        <% @attendances.each do |attendance| %>
          <h6 class="card-panel hoverable yellow">
            Time in: <%= attendance.timeIn %>
             <br />
            Location: <%= attendance.location %>
              <br />
            <% if attendance.remarks != nil %>
              Remarks: <%= attendance.remarks %>
            <% end %>
          </h6>
        <% end %>
</div>

<div id="demo"></div>
<button class=".btn" onclick="getLocation()">Mark Attendance</button>


<script>
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }

    }
    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
        $.get('/attendances/new',{"latitude":position.coords.latitude,"longitude":position.coords.longitude}, function(data) {

        });
    }

</script>
