<div class="container">
  <div class="card-panel blue">
    <h4>Employees List</h4>
  </div>
</div>
<div class="container">

  <% @employees.each do |employee| %>
      <div class="card-panel hoverable orange" style="display: inline-flex;">
        <div>
          <h5><%= employee.name %></h5>
        </div>
        <div style="vertical-align: middle;">
          <%= link_to "Send",{:controller => :home,:action => :send_notification, eid: employee.id}, :method => :post, :class => 'button' %>
        </div>
      </div>
  <% end %>
</div>